{% extends 'users/base.html' %}

{% block title %}Lista de Instruções{% endblock %}

{% block content %}
<div class="container-fluid mt-4">
    <div class="row justify-content-center">
        <main class="col-lg-9 col-md-10 main-content">
            <h1 class="text-center mb-4 text-uppercase" style="color: #2E8B57;">Instruções</h1>

            <!-- Filtros -->
            <div class="row justify-content-center mb-4">
                <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                        <label for="section-filter" class="font-weight-bold" style="color: #4B5320;">Filtrar por Seção</label>
                        <select id="section-filter" class="form-control">
                            <option value="">Todas as Seções</option>
                            {% for section in sections %}
                                <option value="{{ section.id }}" {% if request.GET.section == section.id|stringformat:"s" %}selected{% endif %}>{{ section.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                        <label for="category-filter" class="font-weight-bold" style="color: #4B5320;">Filtrar por Categoria</label>
                        <select id="category-filter" class="form-control">
                            <option value="">Todas as Categorias</option>
                            {% if request.GET.section %}
                                {% for category in categories %}
                                    {% if category.section.id|stringformat:"s" == request.GET.section %} 
                                        <option value="{{ category.id }}" {% if request.GET.category == category.id|stringformat:"s" %}selected{% endif %}>{{ category.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                        <label for="subcategory-filter" class="font-weight-bold" style="color: #4B5320;">Filtrar por Subcategoria</label>
                        <select id="subcategory-filter" class="form-control">
                            <option value="">Todas as Subcategorias</option>
                            {% if request.GET.category %}
                                {% for subcategory in subcategories %}
                                    {% if subcategory.category.id|stringformat:"s" == request.GET.category %}
                                        <option value="{{ subcategory.id }}" {% if request.GET.subcategory == subcategory.id|stringformat:"s" %}selected{% endif %}>{{ subcategory.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>
            </div>

            <!-- Botão para criar uma nova instrução -->
            <div class="text-center mb-4">
                <a href="{% url 'create_instruction' %}" class="btn btn-outline-success btn-lg">Nova Instrução</a>
            </div>

            <!-- Lista de Instruções -->
            <div class="row justify-content-center">
                {% for instruction in instructions %}
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex align-items-stretch">
                    <div class="card border-dark" style="background-color: #F5F5F5; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title text-center">
                                <a href="{% url 'detail_instruction' instruction.pk %}" style="color: #2E8B57; text-decoration: none;">{{ instruction.title }}</a>
                            </h5>
                            <div class="text-center mb-2">
                                <span class="badge" style="background-color: #DAF7A6; color: black; margin-bottom: 5px;">{{ instruction.section.title }}</span>
                                <span class="badge" style="background-color: #33B5FF; color: white; margin-bottom: 5px;">{{ instruction.category.name }}</span>
                                <span class="badge" style="background-color: #FFC300; color: white;">{{ instruction.subcategory.name }}</span>
                            </div>
                        </div>
                        <div class="card-footer mt-auto text-center">
                            <a href="{% url 'detail_instruction' instruction.pk %}" class="btn btn-success" style="background-color: #4B5320; color: white;">
                                Ver Detalhes
                            </a>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="col-12">
                    <div class="alert alert-info text-center" role="alert">
                        Nenhuma instrução encontrada.
                    </div>
                </div>
                {% endfor %}
            </div>

           <!-- Paginação -->
<div class="row">
    <div class="col-12">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <!-- Primeira Página e Página Anterior -->
                {% if instructions.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1&section={{ request.GET.section }}&category={{ request.GET.category }}&subcategory={{ request.GET.subcategory }}" aria-label="Primeira">
                            <span aria-hidden="true">&laquo;&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ instructions.previous_page_number }}&section={{ request.GET.section }}&category={{ request.GET.category }}&subcategory={{ request.GET.subcategory }}" aria-label="Anterior">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}

                <!-- Páginas -->
                {% for i in instructions.paginator.page_range %}
                    {% if instructions.number == i %}
                        <li class="page-item active">
                            <span class="page-link" style="background-color: #4B5320; border-color: #4B5320;">{{ i }}</span>
                        </li>
                    {% elif i >= instructions.number|add:'-2' and i <= instructions.number|add:'2' %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ i }}&section={{ request.GET.section }}&category={{ request.GET.category }}&subcategory={{ request.GET.subcategory }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                <!-- Próxima Página e Última Página -->
                {% if instructions.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ instructions.next_page_number }}&section={{ request.GET.section }}&category={{ request.GET.category }}&subcategory={{ request.GET.subcategory }}" aria-label="Próxima">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ instructions.paginator.num_pages }}&section={{ request.GET.section }}&category={{ request.GET.category }}&subcategory={{ request.GET.subcategory }}" aria-label="Última">
                            <span aria-hidden="true">&raquo;&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>

        </main>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        // Atualiza categorias e subcategorias com base na seção selecionada
        $('#section-filter').on('change', function() {
            var sectionId = $(this).val();
            $.ajax({
                url: "{% url 'ajax_load_categories' %}",
                data: {
                    'section_id': sectionId
                },
                success: function(data) {
                    var $categorySelect = $('#category-filter');
                    $categorySelect.empty().append('<option value="">Todas as Categorias</option>');
                    $.each(data, function(index, category) {
                        $categorySelect.append($('<option>', {
                            value: category.id,
                            text: category.name
                        }));
                    });
                    $('#subcategory-filter').empty().append('<option value="">Todas as Subcategorias</option>'); // Limpa subcategorias
                }
            });
        });

        $('#category-filter').on('change', function() {
            var categoryId = $(this).val();
            $.ajax({
                url: "{% url 'ajax_load_subcategories' %}",
                data: {
                    'category_id': categoryId
                },
                success: function(data) {
                    var $subcategorySelect = $('#subcategory-filter');
                    $subcategorySelect.empty().append('<option value="">Todas as Subcategorias</option>');
                    $.each(data, function(index, subcategory) {
                        $subcategorySelect.append($('<option>', {
                            value: subcategory.id,
                            text: subcategory.name
                        }));
                    });
                }
            });
        });

        // Atualiza os filtros via GET quando uma seleção for feita
        $('#section-filter, #category-filter, #subcategory-filter').on('change', function() {
            var section = $('#section-filter').val();
            var category = $('#category-filter').val();
            var subcategory = $('#subcategory-filter').val();
            var url = '?section=' + section + '&category=' + category + '&subcategory=' + subcategory;
            window.location.href = url; // Redireciona com os parâmetros de filtro
        });
    });
</script>
{% endblock %}
