{% extends "users/base.html" %}

{% block content %}
<style>
    /* Estilo para os cards de categoria */
    .category-card {
        transition: transform 0.2s, box-shadow 0.2s;
    }

    .category-card:hover {
        transform: translateY(-5px); /* Move o card para cima */
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Adiciona sombra ao card */
    }

    /* Estilo para a imagem dentro do card */
    .category-card .card-img-top {
        transition: transform 0.2s; /* Efeito de transição suave */
    }

    /* Aumenta a imagem ao passar o mouse */
    .category-card:hover .card-img-top {
        transform: scale(1.1); /* Aumenta a imagem para 110% do tamanho original */
    }

    /* Estilo para os botões */
    .btn {
        transition: background-color 0.3s;
    }

    .btn:hover {
        background-color: #0056b3; /* Cor mais escura para os botões ao passar o mouse */
    }

    /* Estilo para a badge e botões de ação */
    .badge {
        margin-right: 15px; /* Espaçamento à direita da badge */
    }

    .action-buttons {
        margin-left: auto; /* Alinha os botões à direita */
    }
</style>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4" style="border: 2px solid #4B8C2A; border-radius: 15px; background-color: #F8F9FA;">
                <div class="card-header d-flex align-items-center" style="background-color: #4B8C2A; color: white;">
                    <h5 class="card-title text-center" style="text-transform: uppercase; margin: 0;">
                        Categorias
                    </h5>
                    <div class="action-buttons d-flex align-items-center">
                        <button class="btn btn-secondary me-2" onclick="window.location.href='{% url 'list_sections' %}'">Voltar para Seções</button>
                        <button class="btn btn-primary" style="background-color: #006400; border-color: #4B8C2A;" data-bs-toggle="modal" data-bs-target="#createCategoryModal">Nova Categoria</button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        {% for category in categories %}
                            <div class="col-md-4 mb-4">
                                <div class="card h-100 shadow-sm border-light category-card" style="border: 1px solid #4B8C2A;">
                                    <div class="card-img-container" style="height: 200px; display: flex; justify-content: center; align-items: center;">
                                        <a href="{% url 'list_subcategories_for_category' category.id %}" style="display: block; width: 100%; height: 100%; text-align: center;">
                                            {% if category.imagem %}
                                                <img src="{{ category.imagem.url }}" class="card-img-top" alt="{{ category.name }}" style="max-width: 100%; max-height: 100%; object-fit: contain;">
                                            {% else %}
                                                <img src="https://via.placeholder.com/150.png?text=Sem+Imagem" class="card-img-top" alt="Imagem padrão" style="max-width: 100%; max-height: 100%; object-fit: contain;">
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="card-body text-center">
                                        <h5 class="card-title" style="text-transform: uppercase;">
                                            <a href="{% url 'list_subcategories_for_category' category.id %}" style="text-decoration: none; color: inherit;">{{ category.name }}</a>
                                        </h5>
                                        <span class="badge" style="background-color: #4b8c2a; color: white;">{{ category.section.title }}</span> <!-- Badge com margem -->
                                        <div class="d-flex justify-content-center mt-2">
                                            {% if user.is_superuser %}
                                            <a href="{% url 'update_categories' category.id %}" class="btn btn-sm" style="background-color: #28A745; color: white; border: none; margin-right: 5px;">Editar</a>
                                            <button class="btn btn-sm" style="background-color: #FF851B; color: white; border: none;" data-bs-toggle="modal" data-bs-target="#deleteCategoryModal{{ category.id }}">Excluir</button>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Modal de Exclusão -->
                            <div class="modal fade" id="deleteCategoryModal{{ category.id }}" tabindex="-1" aria-labelledby="deleteCategoryModalLabel{{ category.id }}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteCategoryModalLabel{{ category.id }}">Excluir Categoria</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Você tem certeza que deseja excluir a categoria "{{ category.name }}"?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <form action="{% url 'delete_categories' category.id %}" method="POST">
                                                {% csrf_token %}
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                <button type="submit" class="btn btn-danger">Excluir</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <div class="col-md-12 text-center">
                                <p>Nenhuma categoria encontrada.</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de Nova Categoria -->
    <div class="modal fade" id="createCategoryModal" tabindex="-1" aria-labelledby="createCategoryModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createCategoryModalLabel">Nova Categoria</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'create_category' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="section" value="{{ section.id }}"> <!-- Campo oculto para associar à seção -->
                        <div class="mb-3">
                            <label for="newName" class="form-label">Nome da Categoria</label>
                            <input type="text" class="form-control" id="newName" name="name" required>
                        </div>
                        <div class="mb-3">
                            <label for="newImage" class="form-label">Imagem</label>
                            <input type="file" class="form-control" id="newImage" name="imagem">
                        </div>
                        <button type="submit" class="btn btn-primary">Criar Categoria</button>
                    </form>
                    <div class="response-message mt-3"></div> <!-- Div para exibir mensagens de resposta -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
