{% extends "users/base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Editar Seção</h5>
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'update_section' section.pk %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="mt-3">
                            <button type="submit" class="btn btn-primary">Salvar</button>
                            <a href="{% url 'list_sections' %}" class="btn btn-secondary">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
