{% extends 'users/base.html' %}
{% load widget_tweaks %}

{% block title %}Editar Instrução{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12">
            <!-- Verifica se o usuário tem permissão para editar -->
            
                <!-- Card para mostrar o formulário de edição -->
                <div class="card">
                    <div class="card-header">
                        <h2>Editar Instrução</h2>
                    </div>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.media }}

                            <!-- Campo Título -->
                            <div class="form-group">
                                <label for="{{ form.title.id_for_label }}">Título</label>
                                {{ form.title|add_class:"form-control" }}
                                {{ form.title.errors }}
                            </div>

                            <!-- Campo Seção -->
                            <div class="form-group">
                                <label for="{{ form.section.id_for_label }}">Seção</label>
                                {{ form.section|add_class:"form-control" }}
                                {{ form.section.errors }}
                            </div>

                            <!-- Campo Categoria -->
                            <div class="form-group">
                                <label for="{{ form.category.id_for_label }}">Categoria</label>
                                {{ form.category|add_class:"form-control" }}
                                {{ form.category.errors }}
                            </div>

                            <!-- Campo Subcategoria -->
                            <div class="form-group">
                                <label for="{{ form.subcategory.id_for_label }}">Subcategoria</label>
                                {{ form.subcategory|add_class:"form-control" }}
                                {{ form.subcategory.errors }}
                            </div>

                            <!-- Campo de Conteúdo -->
                            <div class="form-group">
                                <label for="{{ form.content.id_for_label }}">Conteúdo</label>
                                {{ form.content|add_class:"form-control" }}
                                {{ form.content.errors }}
                            </div>

                            <!-- Botão de Submissão -->
                            <button type="submit" class="btn btn-primary">Salvar</button>
                            <a href="{% url 'list_instructions' %}" class="btn btn-secondary">Cancelar</a>
                        </form>
                    </div>
                </div>
           
            
        </div>
    </div>
</div>

{% endblock %}
