{% extends "users/base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header text-white" style="background-color: #4B8C2A;">
            <h2 class="mb-0">Atualizar Status da Tarefa: {{ task.title }}</h2>
        </div>
        <div class="card-body">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.status.label_tag }} {{ form.status }}  <!-- Campo de status -->
                {{ form.observation.label_tag }} {{ form.observation }}  <!-- Campo de observação -->
                <button type="submit" class="btn btn-primary">Salvar</button>
                <a href="{% url 'task_list' %}" class="btn btn-secondary">Voltar</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
