{% extends "users/base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <!-- Coluna para informações do perfil e instruções do usuário -->
        <div class="col-md-12 mb-3">
            <div class="row">

                <!-- Card para Informações do Perfil -->
                <div class="col-md-6 mb-3">
                    <div class="card border-2 rounded-3" style="border-color: #4B8C2A; background-color: #f8f9fa; min-height: 350px;">
                        <div class="card-header text-white text-center text-uppercase" style="background-color: #4B8C2A;">
                            <h5 class="card-title mb-0">Informações do Perfil</h5>
                        </div>
                        <div class="card-body">
                            <p class="d-flex align-items-center">
                                <strong>Nome de Usuário:</strong> {{ user.username }}
                                {% if user.is_superuser %}
                                    <span class="badge bg-warning text-dark ms-2">Superuser</span>
                                {% endif %}
                            </p>
                            <div class="d-flex align-items-center">
                                <p class="mb-0"><strong>Email:</strong> {{ user.email }}</p>
                                <a href="{% url 'update_profile' %}" class="btn btn-outline-primary btn-sm ms-3">Alterar E-mail</a>
                            </div>
                            <div class="mt-3">
                                <strong>Grupos:</strong>
                                {% if user.groups.all %}
                                    <div>
                                        {% for group in user.groups.all %}
                                            <span class="badge bg-danger me-1">{{ group.name }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <p class="text-muted">O usuário não pertence a nenhum grupo.</p>
                                {% endif %}
                            </div>
                            <div class="mt-3">
                                <strong>Projetos:</strong>
                                {% if user.devproject_set.exists %}
                                    <div>
                                        {% for project in user.devproject_set.all %}
                                            <span class="badge bg-danger me-1">{{ project.nome }}</span> <!-- Alterado para bg-danger -->
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <p class="text-muted">O usuário não está associado a nenhum projeto.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Card para Ações Administrativas -->
                <div class="col-md-6 mb-3">
                    <div class="card border-2 rounded-3" style="border-color: #4B8C2A; background-color: #f8f9fa; min-height: 350px;">
                        <div class="card-header text-white text-center text-uppercase" style="background-color: #4B8C2A;">
                            <h5 class="card-title mb-0">Ações Administrativas</h5>
                        </div>
                        <div class="card-body">
                            <div class="d-grid gap-2">
                                {% if user.is_superuser %}
                                <!-- Dropdown para Grupos -->
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                        Gerenciar Grupos
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="{% url 'list_groups' %}">Listar Grupos</a></li>
                                        <li><a class="dropdown-item" href="{% url 'create_group' %}">Criar Grupo</a></li>
                                    </ul>
                                </div>
                                {% endif %}

                                <!-- Dropdown para Usuários -->
                                {% if user.is_superuser %}
                                <div class="dropdown mt-2">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                        Gerenciar Usuários
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="{% url 'list_users_and_groups' %}">Listar Usuários</a></li>
                                        <li><a class="dropdown-item" href="{% url 'create_user' %}">Criar Usuário</a></li>
                                    </ul>
                                </div>
                                {% endif %}

                                <!-- Dropdown para Projetos - disponível para todos os usuários -->
                                <div class="dropdown mt-2">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                        Gerenciar Meus Projetos
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="{% url 'user_project_list' %}">Listar Projetos</a></li>
                                        <li><a class="dropdown-item" href="{% url 'cria_projeto' %}">Criar Projeto</a></li>
                                    </ul>
                                </div>

                                <!-- Dropdown para Tarefas -->
                                <div class="dropdown mt-2">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                        Gerenciar Minhas Tarefas
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="{% url 'task_list' %}">Listar Tarefas</a></li>
                                        <li><a class="dropdown-item" href="{% url 'create_task' %}">Criar Tarefa</a></li>
                                    </ul>
                                </div>

                                <!-- Novo dropdown para Gerenciar Instruções -->
                                <div class="dropdown mt-2">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                        Gerenciar Minhas Instruções
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="{% url 'list_user_instructions' %}">Listar Instruções</a></li>
                                        <li><a class="dropdown-item" href="{% url 'create_instruction' %}">Criar Instrução</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% if user.is_superuser %}
                <!-- Card para Gerenciar Estrutura -->
                <div class="col-md-6 mb-3">
                    <div class="card border-2 rounded-3" style="border-color: #4B8C2A; background-color: #f8f9fa; min-height: 350px;">
                        <div class="card-header text-white text-center text-uppercase" style="background-color: #4B8C2A;">
                            <h5 class="card-title mb-0">Gerenciar Estrutura</h5>
                        </div>
                        <div class="card-body">
                            <!-- Dropdowns para Gerenciar Seções, Categorias e Subcategorias -->
                            <div class="dropdown mt-2">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                    Gerenciar Seções
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'list_sections' %}">Listar Seções</a></li>
                                    <li><a class="dropdown-item" href="{% url 'create_section' %}">Criar Seção</a></li>
                                </ul>
                            </div>
                            <div class="dropdown mt-2">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                    Gerenciar Categorias
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'create_category' %}">Criar Categoria</a></li>
                                </ul>
                            </div>
                            <div class="dropdown mt-2">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                    Gerenciar Sub Categorias
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'create_subcategory' %}">Criar Subcategoria</a></li>
                                </ul>
                            </div>
                            <div class="dropdown mt-2">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                    Gerenciar Servidores
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'list_servers' %}">Listar Servidores</a></li>
                                    <li><a class="dropdown-item" href="{% url 'create_server' %}">Criar Servidor</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

            </div>
        </div>

    </div>
</div>
{% endblock %}
