{% extends "users/base.html" %}

{% block content %}
<!-- Main Content -->
<div class="container mt-4">
    <div class="row">
        <!-- Coluna esquerda para ações administrativas e gerenciamento de estrutura -->
        {% if user.is_superuser %}
        <div class="col-md-4 mb-3">
            <!-- Card para Ações Administrativas -->
            <div class="card">
                <div class="card-header bg-warning text-dark">
                    <h5 class="card-title">Ações Administrativas</h5>
                </div>
                <div class="card-body">
                    <div class="d-grid gap-2">
                        <!-- Dropdown para Grupos -->
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Gerenciar Grupos
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'list_groups' %}">Listar Grupos</a></li>
                                <li><a class="dropdown-item" href="{% url 'create_group' %}">Criar Grupo</a></li>
                            </ul>
                        </div>

                        <!-- Dropdown para Usuários -->
                        <div class="dropdown mt-2">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Gerenciar Usuários
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'list_users_and_groups' %}">Listar Usuários</a></li>
                                <li><a class="dropdown-item" href="{% url 'create_user' %}">Criar Usuário</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card para Gerenciar Estrutura -->
            <div class="card mt-3">
                <div class="card-header bg-warning text-dark">
                    <h5 class="card-title">Gerenciar Estrutura</h5>
                </div>
                <div class="card-body">
                    <!-- Dropdowns para Gerenciar Seções, Categorias e Subcategorias -->
                    <div class="dropdown mt-2">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="sectionsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            Seções
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="sectionsDropdown">
                            <li><a class="dropdown-item" href="{% url 'list_sections' %}">Listar Seções</a></li>
                            <li><a class="dropdown-item" href="{% url 'create_section' %}">Criar Seção</a></li>
                        </ul>
                    </div>

                    <div class="dropdown mt-2">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="categoriesDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            Categorias
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="categoriesDropdown">
                            <li><a class="dropdown-item" href="{% url 'list_categories' %}">Listar Categorias</a></li>
                            <li><a class="dropdown-item" href="{% url 'create_category' %}">Criar Categoria</a></li>
                        </ul>
                    </div>

                    <div class="dropdown mt-2">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="subcategoriesDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            Subcategorias
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="subcategoriesDropdown">
                            <li><a class="dropdown-item" href="{% url 'list_subcategories' %}">Listar Subcategorias</a></li>
                            <li><a class="dropdown-item" href="{% url 'create_subcategory' %}">Criar Subcategoria</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        <!-- Coluna direita para informações do perfil e instruções do usuário -->
        <div class="{% if user.is_superuser %}col-md-8{% else %}col-md-12{% endif %} mb-3">
            <div class="row">
                <!-- Card para Informações do Perfil -->
                <div class="{% if not user.is_superuser %}col-md-6{% else %}col-md-12{% endif %}">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Informações do Perfil</h5>
                        </div>
                        <div class="card-body">
                            <p class="d-flex align-items-center">
                                <strong>Nome de Usuário:</strong> {{ user.username }}
                                {% if user.is_superuser %}
                                    <span class="badge bg-warning text-dark ms-2">Superuser</span>
                                {% endif %}
                            </p>

                            <!-- Campo Email e Botão ao Lado -->
                            <div class="d-flex align-items-center">
                                <p class="mb-0"><strong>Email:</strong> {{ user.email }}</p>
                                <a href="{% url 'update_profile' %}" class="btn btn-outline-primary btn-sm ms-3">Alterar E-mail</a>
                            </div>

                            <!-- Exibe os grupos aos quais o usuário pertence -->
                            <div class="mt-3">
                                <strong>Grupos:</strong>
                                {% if user.groups.all %}
                                    <div>
                                        {% for group in user.groups.all %}
                                            <span class="badge bg-danger me-1">{{ group.name }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <p class="text-muted">O usuário não pertence a nenhum grupo.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Card para Minhas Instruções (visível apenas para não superusers) -->
                
                <div class="col-md-6">
                    <div class="card mt-3">
                        <div class="card-header">
                            <h5 class="card-title">Minhas Instruções</h5>
                        </div>
                        <div class="card-body">
                            <!-- Dropdown para Minhas Instruções -->
                            <div class="dropdown mt-2">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Gerenciar Instruções
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'list_user_instructions' %}">Listar Minhas Instruções</a></li>
                                    <li><a class="dropdown-item" href="{% url 'create_instruction' %}">Criar Instrução</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

{% endblock %}
