{% extends "users/base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <!-- Coluna esquerda para ações administrativas e gerenciamento de estrutura -->
        <div class="col-md-4 mb-3">
            <!-- Card para Ações Administrativas -->
            <div class="card mb-3 border-2 rounded-3 border-success bg-light">
                <div class="card-header bg-success text-white text-center text-uppercase">
                    <h5 class="card-title mb-0">Ações Administrativas</h5>
                </div>
                <div class="card-body">
                    <div class="d-grid gap-2">
                        {% if user.is_superuser %}
                        <!-- Dropdown para Grupos -->
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                Gerenciar Grupos
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'list_groups' %}">Listar Grupos</a></li>
                                <li><a class="dropdown-item" href="{% url 'create_group' %}">Criar Grupo</a></li>
                            </ul>
                        </div>
                        <!-- Dropdown para Usuários -->
                        <div class="dropdown mt-2">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                Gerenciar Usuários
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'list_users_and_groups' %}">Listar Usuários</a></li>
                                <li><a class="dropdown-item" href="{% url 'create_user' %}">Criar Usuário</a></li>
                            </ul>
                        </div>
                        {% endif %}
                        <!-- Dropdown para Tarefas -->
                        <div class="dropdown mt-2">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                Gerenciar Tarefas
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'task_list' %}">Listar Tarefas</a></li>
                                <li><a class="dropdown-item" href="{% url 'create_task' %}">Criar Tarefa</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% if user.is_superuser %}
            <!-- Card para Gerenciar Estrutura -->
            <div class="card border-2 rounded-3 border-success bg-light">
                <div class="card-header bg-success text-white text-center text-uppercase">
                    <h5 class="card-title mb-0">Gerenciar Estrutura</h5>
                </div>
                <div class="card-body">
                    <!-- Dropdowns para Gerenciar Seções, Categorias e Subcategorias -->
                    <div class="dropdown mt-2">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                            Seções
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'list_sections' %}">Listar Seções</a></li>
                            <li><a class="dropdown-item" href="{% url 'create_section' %}">Criar Seção</a></li>
                        </ul>
                    </div>
                    <div class="dropdown mt-2">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                            Categorias
                        </button>
                        <ul class="dropdown-menu">
                    
                            <li><a class="dropdown-item" href="{% url 'create_category' %}">Criar Categoria</a></li>
                        </ul>
                    </div>
                    <div class="dropdown mt-2">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                            Subcategorias
                        </button>
                        <ul class="dropdown-menu">
                            
                            <li><a class="dropdown-item" href="{% url 'create_subcategory' %}">Criar Subcategoria</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <!-- Coluna direita para informações do perfil e instruções do usuário -->
        <div class="{% if user.is_superuser %}col-md-8{% else %}col-md-12{% endif %} mb-3">
            <div class="row">
                <!-- Card para Informações do Perfil -->
                <div class="{% if not user.is_superuser %}col-md-6{% else %}col-md-12{% endif %}">
                    <div class="card border-2 rounded-3 border-success bg-light">
                        <div class="card-header bg-success text-white text-center text-uppercase">
                            <h5 class="card-title mb-0">Informações do Perfil</h5>
                        </div>
                        <div class="card-body">
                            <p class="d-flex align-items-center">
                                <strong>Nome de Usuário:</strong> {{ user.username }}
                                {% if user.is_superuser %}
                                    <span class="badge bg-warning text-dark ms-2">Superuser</span>
                                {% endif %}
                            </p>
                            <div class="d-flex align-items-center">
                                <p class="mb-0"><strong>Email:</strong> {{ user.email }}</p>
                                <a href="{% url 'update_profile' %}" class="btn btn-outline-primary btn-sm ms-3">Alterar E-mail</a>
                            </div>
                            <div class="mt-3">
                                <strong>Grupos:</strong>
                                {% if user.groups.all %}
                                    <div>
                                        {% for group in user.groups.all %}
                                            <span class="badge bg-danger me-1">{{ group.name }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <p class="text-muted">O usuário não pertence a nenhum grupo.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Card para Minhas Instruções -->
                <div class="col-md-6">
                    <div class="card mt-3 border-2 rounded-3 border-success bg-light">
                        <div class="card-header bg-success text-white text-center text-uppercase">
                            <h5 class="card-title mb-0">Minhas Instruções</h5>
                        </div>
                        <div class="card-body">
                            <div class="dropdown mt-2">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                    Gerenciar Instruções
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'list_user_instructions' %}">Listar Minhas Instruções</a></li>
                                    <li><a class="dropdown-item" href="{% url 'create_instruction' %}">Criar Instrução</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
