{% extends "users/base.html" %}

{% block title %}Redefinir E-mail{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12 mb-3">
            <div class="card">
                <div class="card-header" style="background-color: #4B8C2A; color: white;"> <!-- Estilo direto no template -->
                    <h5 class="card-title text-center">Atualizar E-mail</h5>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="id_email" class="form-label">E-mail</label>
                            {{ form.email}}
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Salvar alterações</button>
                    </form>

                    {% if messages %}
                    <div class="alert {{ messages.0.tags }} mt-3 show" id="message-alert">
                        <ul>
                            {% for message in messages %}
                            <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <script>
                        // Remove o alerta após 5 segundos
                        setTimeout(() => {
                            const alert = document.getElementById('message-alert');
                            if (alert) {
                                alert.classList.remove('show');
                            }
                        }, 5000);
                    </script>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
